@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.visually-hidden {
  visibility: hidden;
}

.content-image {
  display: block;
  margin: 0 auto;
}

/* header */
.header-main {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 64px;
  padding: 0 70px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
}

.navigation-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
  list-style: none;
}

.navigation-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 16px;
  gap: 8px;
  position: relative;

}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active-indicator {
  width: 68px;
  height: 2px;
  background-color: #756257;
  position: relative;
  top: 15px;
}


.navigation-buttons {
  display: flex;
  background-color: rgb(255, 255, 255);
  list-style: none;

}

.icon-button {

  justify-content: ;
  align-items: center;
  position: relative;
  background: none;
  border: none;
  padding: 22px 12px;
  cursor: pointer;
}

.search-button {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  cursor: pointer;
}

.favorites-button {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  background-image: url("../img/icon-fav.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  cursor: pointer;
}

.badge {
  position: absolute;
  right: 4px;
  top: 11px;
}

.badge-bg {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7db54f;

}

.fav_num {
  position: absolute;
  left: 4px;
  top: 5px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.hotel-search-btn {
  padding: 8px 50px;
  border-radius: 4px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  cursor: pointer;

}

/*footer*/
.socilal-media-button {
  text-decoration: none;
}

.tel {
  padding: 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;

}

.created-by-logo {
  text-decoration: none;

}

/*index-main*/

.welcome {
  background-image: url("../img/welcome-divider.png"), url("../img/bg-welcome.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  min-height: 485px;
  background-color: rgb(255, 255, 255);
  padding: 0;
}

.discription {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.reasons {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  text-align: center;

}

.advantages-list {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 12%);
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: rgba(130, 179, 211, 1);
  color: rgb(255, 255, 255);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 20%);
}

.subscribe {
  display: block;
  height: 414px;
  width: auto;
  background-image: url("../img/bg-subscribe-blur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  padding: 0;
  color: rgb(255, 255, 255);
}

.subscribe-catalog {
  background-image: none;

}

.field {
  margin: 0 auto;
  width: auto;
  height: 52px;
  background-color: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 4px 0 0 4px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  align-self: center;
  text-decoration: none;
  padding-left: 20px;
}

.button-subscribe {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  height: 52px;
  background-color: rgba(130, 179, 211, 1);
  border: 0;
  border-radius: 0 4px 4px 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;

}

/*catalog*/
.catalog-filter-wrapper {
  background-image: url("../img/bg-catalog-blur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% cover;
  min-height: 412px;
  color: rgb(255, 255, 255);

}

.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

}

.catalog-filter-group {
  border: none;
}

#cost-input-min {
  margin: 0 auto;
  width: 143px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 4px 0 0 4px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  align-self: center;
  text-decoration: none;
  padding-left: 20px;
}

#cost-input-max {
  margin: 0 auto;
  width: 143px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 0 4px 4px 0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  align-self: center;
  text-decoration: none;
  padding-left: 20px;
}

.filter-submit-btn {
  display: inline-block;
  margin: 0 auto;
  width: 191px;
  height: 36px;
  background-color: rgb(130, 179, 211);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-reset-btn {
  display: inline-block;
  margin: 0 auto;
  width: 191px;
  height: 36px;
  background-color: rgba(130, 178, 211, 0);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;

}

.select-control {
  width: 292px;
  height: 49px;
  border-width: 2px;
  border-radius: 4px;
  border-color: rgb(229, 229, 229);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 21px;
  padding: 0 20px;
}

.icon-tiles-view {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../img/icon-view-table.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-single-view {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../img/icon-view-slideshow.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-list-view {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../img/icon-view-list.png");
  background-repeat: no-repeat;
  background-position: center;
}

.view-type:hover {
  border-style: solid;
  border-color: rgba(0, 0, 0, );
  border-width: 2px;
  border-radius: 4px;
}

.location-card-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.location-card-image {}

.location-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  text-decoration: none;
}

.location-type,
.location-price-from {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.location-card-button {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 36px;
  background-color: rgb(117, 97, 87);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

}

.button-favorite {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 36px;
  background-color: rgb(130, 179, 211);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-favorite-active {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 36px;
  background-color: rgba(125, 181, 79);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.star-rating {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 37px;
}

.num-rating {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 37px;
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link {
  display: inline-block;
  margin: 0, 8px;
  list-style: none;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

}

.pagination-current {
  display: inline-block;
  margin: 0, 8px;
  list-style: none;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-next {
  background-color: rgb(253, 253, 253);
  color: rgb(0, 0, 0)
}
