@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 242, 242);

}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-image {
  display: block;
  margin: 0 auto;
  align-self: self-start;
}

/* header */
.header-main {
  display: flex;
  width: 1200px;
  min-height: 64px;
  justify-content: center;
  align-items: center;
}

.navigation-full {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1060px;
  justify-content: space-between;
  flex-grow: 1;
  outline: solid 3px red;
}

.navigation-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 507px;
  margin-right: 2%;
  ;
  outline: solid 6px green;

}

.logo {
  margin-right: 30px;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  outline: solid 3px brown;

}

.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid 3px rgb(168, 158, 235);

}

.navigation-item .navigation-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  min-height: 64px;
  outline: solid 3px yellow;

}

.navigation-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  min-width: 268px;
  outline: solid 3px green;
}

.navigation-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 10px;
  outline: solid 3px rgb(5, 5, 5);
}

.navigation-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid 3px orange;
}

.navigation-buttons .navigation-link {
  min-width: 44px;
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: inherit;
  outline: solid 3px lightblue;
}

/*.active-indicator {
  display: block;
  width: 68px;
  height: 2px;
  background-color: #756257;
  position: relative;
  bottom: 2px;
  left: 16px;
}*/


.icon-button {
  width: 20px;
  height: 20px;
}

.search-button {
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  cursor: pointer;
}

.favorites-button {
  background-image: url("../img/icon-fav.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  cursor: pointer;
}

/*.badge {
  position: absolute;
  right: 25px;
  top: 12px;
}
.badge-bg {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7db54f;
  position: absolute;
  left: 24px;
}
.fav_num {
  position: absolute;
  left: 28px;
  top: 6px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}*/
.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hotel-search-btn {
  min-width: 160px;
  min-height: 36px;
  box-sizing: border-box;
}

/*footer*/
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1200px;
  min-height: 120px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  outline: solid 3px violet;
}

.footer-social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  gap: 10px;
  outline: solid 3px lightblue;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid 3px rgb(168, 158, 235);

}

.socilal-media-button {
  text-decoration: none;
  padding: 10px;
}

address {
  display: flex;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  min-height: 50px;
  outline: solid 3px lightgray;

}

.tel {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
}

.footer-logo-link {
  text-decoration: none;
  padding: 10px;
  outline: solid 3px pink;

}

.footer-logo {
  padding-right: 60px;
}

/*index-main*/
.main-container {
  flex-grow: 1;
}

.welcome {
  background-image: url("../img/welcome-divider.png"), url("../img/bg-welcome.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  height: 485px;
  background-color: rgb(255, 255, 255);
  padding: 0;
}

.welcome-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 115px;
}

.main-discription {
  display: flex;
  flex-direction: column;
}

.discription-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 261px;
  justify-content: center;
  align-items: center;
  outline: solid 3px navy;
}

.discription {
  max-width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
  outline: solid 3px magenta;
}

.discription-container .reasons {
  line-height: 26px;
  text-transform: none;
  outline: solid 3px cyan;
}

/*блок карточек с преимуществами*/
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  /*нужно ли?*/
  min-width: 100%;
  font-size: 18px;
  line-height: 21px;
  list-style: none;

}

.advantages-item {
  min-height: 385px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(131, 179, 211, 12%);

}

.advantages-item-long {
  min-width: 100%;
  color: rgb(255, 255, 255);
}

.advantages-item-short {
  min-width: 230px;
  max-width: 400px;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: rgba(130, 179, 211, 1);
  color: rgb(255, 255, 255);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 20%);
}

.advantages-item-wrapper {
  display: flex;
  width: 400px;
  min-height: 385px;
  overflow: auto;
  outline: 3px solid coral;
}

.advantages-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin: auto;
  outline: solid 3px blue;
}


.advantages-item-short .advantages-item-wrapper {
  height: 160px;
}

.advantages-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 175px;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 30px;
  outline: solid 3px silver;
}

.advantages-item-long .advantages-title::after {
  /*finish*/
  content: "";
  width: 60px;
  height: 2px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 30%);
}

.advantages-item-short .advantages-title::after {
  content: "";
  width: 60px;
  height: 2px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 30%);
}

.advantages-item-divider-dark {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 30%);

}

.advantages-description {

  font-size: 18px;
  line-height: 21px;

}

.invitation-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 261px;
  justify-content: center;
  align-items: center;
  outline: solid 3px navy;
}

.invitation-container .discription {
  max-width: 505px;
}

.invitation-container .reasons {
  outline: solid 3px cyan;
}



/*блок особенностей*/
.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-grow: 1;
  /*нужно?*/
}

.features-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(131, 179, 211, 20%);
}

.features-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  min-height: 223px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  outline: solid 3px chartreuse;
}

.features-item:first-child .features-item-wrapper {
  background-image: url(../img/bg-housing.svg);
}

.features-item:nth-child(2) .features-item-wrapper {
  background-image: url(../img/bg-food.svg);
}

.features-item:last-child .features-item-wrapper {
  background-image: url(../img/bg-souvenier.svg);
}

.features-item:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}

.features-item .advantages-title {
  padding-top: 102px;
}

.features-item-wrapper .advantages-description {
  font-size: 18px;
  line-height: 117%;
  text-align: center;
  margin: 0;
}


/*предложение поиска*/
.search-prompt-container {
  display: flex;
  flex-direction: column;
  height: 406px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 93px;
  padding-top: 90px;
  box-sizing: border-box;
}

.search-prompt-content {
  display: flex;
  flex-direction: column;
  height: 214px;
  max-width: 592px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  outline: solid 3px orange
}

.search-prompt-content .discription {
  margin: 0;
  padding-bottom: 20px;
}

.search-prompt-content .reasons {
  margin: 0;
  padding-bottom: 20px;
  outline: solid 3px cyan;
}

.hotel-search-btn-long {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 376px;
  padding: 8px;
}

/*subscription*/
.subscribe-container {
  display: flex;
  flex-direction: column;
  height: 414px;
  width: auto;
  background-image: url("../img/bg-subscribe-blur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  outline: 3px solid yellow;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  height: 214.86px;
  width: 684px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.subscribe-content .discription {
  margin: 0;
  padding-bottom: 20px;

}

.subscribe-content .reasons {
  width: 475px;
  margin: 0;
  padding-bottom: 52px;
  border: solid 3px cyan;
}

.subscribe-catalog {
  background-image: none;
  color: inherit;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  width: 684px;
  height: 52px;

}

.field {
  min-width: 232px;
  flex-basis: 452px;
  min-height: 52px;
  background-color: rgb(242, 242, 242);
  border-width: 0;
  border-radius: 4px 0 0 4px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  align-self: center;
  text-decoration: none;
  padding-left: 20px;
}

.button-subscribe {
  max-width: 232px;
  min-width: fit-content;
  background-color: rgba(130, 179, 211, 1);
  border: 0;
  border-radius: 0 4px 4px 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;

}

/*catalog*/
.catalog-filter-section {
  display: flex;
  flex-direction: column;

  background-image: url("../img/bg-catalog-blur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 412px;
  width: auto;
  align-items: center;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);

}

.catalog-filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 307px;
  margin-top: 35px;

  justify-content: space-between;
  outline: 3px solid pink;
}

.inner-header {
  height: 107px;
  outline: 3px solid gold;
}

.filter-header {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.catalog-filter {
  font-size: 20px;
  line-height: 33px;
  height: 160px;
  outline: 3px solid blueviolet;
}

.catalog-forms {
  display: flex;
  justify-content: space-between;
  outline: 3px dashed red;
}

.catalog-filter-checkbox {
  width: 151px;
  text-align: left;
  border: none;
  margin-right: 70px;

  outline: 3px solid greenyellow;

}

.catalog-filter-title {
  font-weight: 700;
  padding-bottom: 32px;
  text-align: left;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-radio {
  width: 151px;
  text-align: left;
  border: none;
  margin-right: auto;
  outline: 3px solid greenyellow;
}

.catalog-filter-range {
  width: 288px;
  border: none;
  margin-right: 70px;

  outline: 3px solid greenyellow;
}

.input-area {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  width: 288px;
  outline: 3px solid coral;
}


.cost-input-min {
  margin: 0 auto;
  max-width: 72px;
  min-height: 48px;
  background-color: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 4px 0 0 4px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  padding-left: 20px;
}

.cost-input-max {
  margin: 0 auto;
  max-width: 72px;
  min-height: 48px;
  background-color: rgb(255, 255, 255);
  border-width: 0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  padding-left: 20px;
}

.input-placeholder {
  width: 48px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  align-content: center;
  font-size: 18px;
  font-weight: 400;
}

.input-placeholder-max {
  border-radius: 0 4px 4px 0;
}

.input-placeholder-min {
  margin-right: 2px;
}

.slider {
  height: 5px;
  position: relative;
  top: 20px;
  background: #756157;
}

.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  background: #756157;
}

.range-input {
  position: relative;
  top: 20px;
  right: 150px;
  background: #ffffff;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  height: 100px;
  border: none;
  align-self: flex-end;
  justify-content: space-between;
  outline: 3px solid greenyellow;
}

.filter-submit-btn {
  display: inline-block;
  margin: 0 auto;
  width: 191px;
  height: 36px;
  background-color: rgb(130, 179, 211);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-reset-btn {
  display: inline-block;
  margin-bottom: 10px;
  width: 191px;
  height: 36px;
  background-color: rgba(130, 178, 211, 0);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*filter output controls*/
.catalog-showcase {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 auto;
  outline: 3px solid turquoise;
}

.catalog-showcase-header {
  display: flex;
  min-height: 49px;
  width: 100%;
  margin-bottom: 40px;
  justify-content: flex-end;
  align-items: center;
  outline: 3px solid yellowgreen;

}

.catalog-showcase-heading {
  margin-right: auto;
}

.select-control {
  /*что это?*/
  width: 292px;
  height: 49px;
  border-width: 2px;
  border-radius: 4px;
  border-color: rgb(229, 229, 229);
  font-size: 18px;
  padding: 0 20px;
  margin-right: 70px;
}

.icon-tiles {
  display: flex;
  cursor: pointer;

}

.icon-tiles-view {
  width: 48px;
  height: 48px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  margin-right: 8px;
  background-image: url("../img/icon-view-table.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.icon-single-view {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-image: url("../img/icon-view-slideshow.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;
}

.icon-list-view {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../img/icon-view-list.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;
}

.view-type:hover {
  border-style: solid;
  border-color: rgba(0, 0, 0, );
  border-width: 2px;
  border-radius: 4px;
}

/*locations cards*/
.location-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style: none;
  gap: 20px;
  margin-bottom: 50px;

}

/* ЛИНИЯ-РАЗДЕЛИТЕЛЬ
.pagination::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #E5E5E5;
  margin-top: 50px;
  margin-bottom: 50px;
 }
 */
.location-card {
  display: grid;
  width: 340px;
  min-height: 438px;
  box-sizing: border-box;
  padding: 20px;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
  gap: 16px 0;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
  outline: 3px solid lightcoral
}

.location-card-link {
  display: block;
  width: 300px;
  min-height: 206px;
  text-decoration: none;
  grid-column: 1 / -1;
  grid-row: 1;
  color: rgb(0, 0, 0);
}

.location-card-image {
  display: block;
  object-fit: contain;
  padding-bottom: 16px;
}

.location-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: start;
  margin: 0;
  width: 100%;
  word-wrap: break-word;
  grid-column: 1 / -1;
  grid-row: 2;
}

.location-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  word-wrap: break-word;
  grid-column: 1;
  grid-row: 3;
}

.location-price-from {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  word-wrap: break-word;
  text-align: right;
  grid-column: 3;
  grid-row: 3;
}

.location-card-button {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 36px;
  box-sizing: border-box;
  background-color: rgb(117, 97, 87);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-content: center;
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
  grid-column: 1;
  grid-row: 4;

}

.button-favorite {
  display: inline-block;
  width: 140px;
  height: 36px;
  background-color: rgb(130, 179, 211);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-content: center;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 3;
  grid-row: 4;
}

.button-favorite-active {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 36px;
  background-color: rgba(125, 181, 79);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-content: center;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 3;
  grid-row: 4;
}

.star-rating {
  align-self: center;
  grid-column: 1;
  grid-row: 5;
  display: grid;
  grid-template-columns: repeat(5, 18px);
  column-gap: 7px;
}

.star-rating-star::after {
  display: block;
  content: "";
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.num-rating {
  display: inline-block;
  grid-column: 3 / 4;
  grid-row: 5;
  margin: 0 auto;

  width: 140px;
  height: 37px;
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-content: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*pagination*/
.pagination-container {
  min-height: 60px;
  width: 1060px;
  margin-bottom: 40px;
  justify-content: flex-start;
  outline: 3px solid yellowgreen;

}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;

  background-color: rgb(255, 255, 255);
}

.pagination-item {
  align-items: center;
  justify-content: center;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  padding: 16px 12px;
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
}

.pagination-current {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.pagination-next {
  background-color: rgb(253, 253, 253);
  color: rgb(0, 0, 0)
}
